<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-86GPELQ2DY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-86GPELQ2DY');
</script>

<title>Attack on Deerfield</title>

<script language="JavaScript" src="../../common/popWindow.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../../styles/1704.css" rel="stylesheet" type="text/css">
<link href="../../styles/1704_html5_scenes.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="../../common/popWindow.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2Ces6"></script>

  <style type="text/css" media="screen">.outline {
      stroke: yellow;
      stroke-width: 2;
      fill: #FFF;
      fill-opacity: 0.0;
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity 1.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  </style>

</head>
<body bgcolor="#660000" background="../../images/bkgrnd_big.gif" text="#CC9933" link="#CC9900" vlink="#CC9966" alink="#CC3300">
<!-- show flash tab  -->
<table border="0" align="center" cellpadding="6" cellspacing="0">
  <tr> 
    <td >
      






<!-- begin include "topnav.html" -->

    <A HREF="/" 
        class="topnav1">1704 Home</A>
    
     &nbsp;

    
    <A HREF="/scenes/index.html" 
        class="topnav1"><span class="selected1">Story Menu</span></A>
     &nbsp;

    <A HREF="../groups.html" 
        class="topnav1">Meet the 5 Cultures</A>
    
     &nbsp;

    <A HREF="../../people/index.html" 
        class="topnav1">People</A>
    
     &nbsp;

    <A HREF="../../artifacts/index.html" 
        class="topnav1">Artifacts</A>
    
     &nbsp;

    <A HREF="../../maps/index.html" 
        class="topnav1">Maps</A>
    
     &nbsp;

    <A HREF="../../timeline/1600_1620.html" 
        class="topnav1">Timeline</A>
    
     &nbsp;

    <A HREF="../../voices/index.html" 
        class="topnav1">Voices & Songs</A>
    
     &nbsp;

    <A HREF="../../background/index.html" 
        class="topnav1">Explanations</A>
    
     &nbsp;

<!-- end include "topnav.html" -->

      






<!-- begin include "topnav.html" -->
<DIV CLASS="topnav2">

    <A HREF="/scenes/scenemenu/Lifeways.html" 
        class="topnav2">Lifeways</A>
    
     &nbsp;

    <A HREF="/scenes/scenemenu/Trade.html" 
        class="topnav2">Trade</A>
    
     &nbsp;

    <A HREF="/scenes/scenemenu/Founding.html" 
        class="topnav2">New Communities</A>
    
     &nbsp;

    <A HREF="/scenes/scene/Peskeompskut.html" 
        class="topnav2">Peskeompskut</A>
    
     &nbsp;

    <A HREF="/scenes/scene/Peace.html" 
        class="topnav2">Great Peace</A>
    
     &nbsp;

    
    
    <span 
        class="selected_nolink">Attack</span> &nbsp;

    <A HREF="/scenes/scene/March.html" 
        class="topnav2">March</A>
    
     &nbsp;

    <A HREF="/scenes/scene/Parting.html" 
        class="topnav2">Parting</A>
    
     &nbsp;

    <A HREF="/scenes/scene/Captivity.html" 
        class="topnav2">Captivity</A>
    
     &nbsp;

    <A HREF="/scenes/scene/Remember.html" 
        class="topnav2">Communities Remember</A>
    
     &nbsp;

</DIV> 
<!-- end include "topnav.html" -->

      

      <p><IMG SRC="../../images/golden_rule.gif" ALT="rule" WIDTH="760" HEIGHT="1"></p>
      <P class="scene_title"><FONT COLOR="#CC9933">Attack on Deerfield</FONT><BR>


      <!-- begin interactive section -->
      <div 
        id="scene-app" 
        class="scene-wrapper"
        @click="closeRelatedIfOut"
        > <!-- @click="closeRelatedIfOut" -->
        <div class="scene-image">
          
          <svg 
            class="no-class" 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            x="0px" y="0px"
            viewBox="0 0 2000 1186" 
            xml:space="preserve">
          
            <image 
              style="overflow:visible;" 
              width="2000" 
              height="1186" 
              :xlink:href="'../html5images/' + scene.scenewide.sceneName + '.jpg'"
              >
            </image>

            <!-- Outlines -->
            <g v-if="outlinesOn">
              <!-- The following loop generates all outlines -->
              <g v-for="(tab, index) in scene.tabs" :key="index">                 
                <g
                  v-for="(hotSpot, innerindex) in scene.tabs[index].hotSpots" 
                  :key="hotSpot.rollName">
                  <path 
                    class="outline"
                    :d="hotSpot.svg"
                    />
                </g>
              </g> <!-- end for loop -->
            </g> <!-- end if outlines on -->

            <!-- Hotspots -->
            <!-- Loop through each tab -->
            <g v-for="(tab, index) in scene.tabs" :key="index">
              <!-- Display mask that leaves highlights for a given tab -->
              <transition name="fade">
                <g v-if="tabName === tab.tabName">
                  <path 
                    class="tab-mask"
                    :d="tab.maskSvg"
                    />
                </g>
            </transition>
              <!-- Show hotspot for chosen tab, or all for overview -->
              <g v-if="tabName === tab.tabName || tabName === 'Overview'">
                <!-- Loop generates hotspots this tab. -->
                <g
                  v-for="(hotSpot, innerindex) in scene.tabs[index].hotSpots" 
                  :key="hotSpot.rollName">
                  <!-- "Extra" g because v-for can't contain a v-if 
                    Anchor tag will only funciont if spot already highlighte -->
<!--                   <a 
                    href="#" 
                    class="rollLink"
                    @click.prevent="showRollText"></a>
 -->                    
                    <path 
                      class="hotspot"
                      :class="{ hotspoton: rollName === hotSpot.rollName }"
                      @click.prevent="showRollLink(hotSpot.rollName)"
                      @mouseover="showPop(hotSpot.rollName)"
                      @mouseleave="hidePop"
                      :d="hotSpot.svg"
                      />
                  <!-- </a> -->
                </g>
              </g>
            </g>

          </svg>

        </div><!-- /scene-image -->

        <article class="scene-text">
          
          <!--tabs -->
          <ul class="tabs">
            <li 
              v-for="(tab, index) in scene.tabs" 
              :key="index"
            >
              <!-- Selection and cursor disabeled as needed in js -->
              <a 
                href="#" 
                @click.prevent="showTab(index)"
                @mouseover="hoverTab(index)"
                @mouseleave="unHoverTab(index)"
                :class="cursorState(index)"
                :title="tab.tabName"
                >
                <img 
                  :src="'../html5images/tab_' + tabAbbr(tab.tabName) + getTabSuffix(index) + '.gif'" 
                  :class="getTabState(index)"
                  :alt="tab.tabName + 'tab'">
              </a>
            </li>
          </ul>

          <!--tab text -->
          <div class="tab-text">
            <h3 v-html="tabTitles[tabIndex]"></h3>
            <div v-html="tabTexts[tabName]">
          </div>

        </article><!--/scene-text -->

        <div class="scene-related">
          <!-- Outline and enlarge buttons -->
          <div class="icons">
            <a 
              href="#"
              :title="outlineToolTip" 
              @click.prevent="toggleOutlines"
              @mouseover="outlineHover = true"
              @mouseleave="outlineHover = false"
            >
              <img 
                :src="'../html5images/hotspot_icon' + 
                  outlineSuffix + '.gif'">
            </a>
            <a 
              :href="largerUrl" 
              target="larger"
              title="Show large version of picture"
              @mouseover="iconHover = true"
              @mouseleave="iconHover = false"
            >
              <img 
                :src="'../html5images/enlarge_icon' + 
                  iconSuffix + '.gif'">
            </a>
            <p>related to<br/>this scene:</p>
          </div>

          <div class="scene-info-area">
            <!-- hotspot roll over text area -->
            <div v-html='rollText' class="roll-text"></div>

            <!-- Related pop up menus -->
            <ul class="related-menu">
              <li 
                v-for="(menu, index) in relatedMenuTitles" :key="index"
                @mouseleave="closeAllRelated()">
                  <a href="#" 
                    class="related-link" 
                    @click.prevent="toggleRelated(index)">
                    {{ relatedMenuTitles[index] }}</a>
                  <ul v-if="relatedUp[index] === true">
                    <li 
                      v-for="(relatedLink, innerIndex) in related[relatedMenuKeys[index]]" :key="innerIndex"
                      v-html="relatedLink"></li>
                  </ul>
              </li>
            </ul>
            <!-- rollName: {{ rollName }} -->
          </div><!--/relateds -->
        </div><!--/scene-related -->

      </div><!--/#scene-app -->
      <!-- end interactive section -->

      <!-- begin dynamic call to interactive -->
      <script 
        src="../data/Attack-svg.js" 
        type="text/javascript"></script>
      <script 
        src="../data/Attack-text.js" 
        type="text/javascript"></script>
      <script src="../../common/scene.js" type="text/javascript"></script>
      <!-- end dynamic call to interactive -->
     
      <BR CLEAR="left">
      </P>
      <P CLASS="bigbody">
        <a href="../help.html" ONCLICK="openHelp('../help.html'); return false">
        <IMG 
        SRC="../../images/icon_help.gif" 
        ALT="help icon" WIDTH="33" 
        HEIGHT="32" BORDER="0" ALIGN="ABSMIDDLE">How to Use This Page</A>
       </P>
     </td>
  </tr>
  <tr> 
    <td> 
      <p><IMG SRC="../../images/golden_rule.gif" ALT="rule" WIDTH="760" HEIGHT="1"></p>
      <!-- begin include "btmnav.html" -->
<p CLASS="pgMenu">
        <A HREF="../../about/index.jsp.html" class="topnav1">About This Site</A> &nbsp; 
        <A HREF="../../list/biblio/all.html" class="topnav1">Resources</A> &nbsp; 
        <A HREF="../../list/glossary/all.html" class="topnav1">Glossary</A> &nbsp; 
        <A HREF="../../teachers/index.jsp.html" class="topnav1">Teachers' Guide</A> &nbsp; 
        <A HREF="../../sitemap.html" class="topnav1">Site Map</A> &nbsp; 
		<!-- feedback removed -->
        <!-- <A HREF="#" class="topnav1">Email A Friend</A> &nbsp; -->
        <!-- <A HREF="/game/index.jsp" class="topnav1">Game</A> &nbsp; -->
        <!-- <A HREF="/about/survey.jsp" class="topnav1">Visitor Survey</A> &nbsp; --> 
        <A HREF="../../about/howto.jsp.html" class="topnav1">How To</A> &nbsp; 
        <BR>
        &copy; 2020 <A HREF="http://deerfield-ma.org" class="topnav1">PVMA / Memorial Hall Museum</A>
        <br>
</p>
<!-- end include "btmnav.html" -->

      <A HREF="../../popups/scenes/Attack.html" 
      ONCLICK="openLink('scenes','Attack',''); return false"
      CLASS="body_text">Printable text of this scene</A>
    </td>
  </tr>
</table>
</body>
</html>
